:root{
    --title-font:"Plus Jakarta",sans-serif;
    --text-font:"Playfair Display",sans-serif;
    --content-font:"Roboto",sans-serif;

    --main-color:#121212;
    --light-text-color:#FFFFFF;
    --card-title-text-color:#555555;
    --accent-color:#B1454A;
    --backround-color:#FFF0DE;
    --button-color:#1F1E31;
    --cards-backround:rgba(255, 255, 255, 0.05);
    --cards-border:rgba(255, 255, 255, 0.2);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --animation:linear 200ms ;

    

    

}