.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-label {
  margin-bottom: 10px;
}
.form-input-text {
  display: block;
  margin-bottom: 4px;
  font-family: var(--title-color);

  font-weight: 600;
  font-size: 17px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: var(--main-color);

  &::placeholder {
    color: var(--cards-backround);
  }
}
.input-wrapper {
  display: block;
  position: relative;
}
.form-input {
  height: 40px;
  font-size: 15px;

  width: calc(100% - 40px);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 2px 20px;
  transition: border-color var(--accent-color);

  &:focus {
    outline: none;
    border-color: var(--accent-color);

    + .form-icon {
      fill: var(--accent-color);
    }
  }
}

.form-area {
  height: 80px;
  width: calc(100% - 32px);
  padding: 12px 16px;

  border: 1px solid var(--main-color);
  border-radius: 4px;
  resize: none;

  transition: border-color var(--animation);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
