<section class=" container section-fifth">
  <div class="section-fifth-container">
    <h1 class="section-fifth__title">Get offers straight to your inbox</h1>
    <p class="section-fifth__subtitle">Sign up for the Sushiman newsletter</p>
    <img class="section-fifth__hiero-left" src="./images/hiero5-1.png" alt="" />
    <img
      class="section-fifth__hiero-right"
      src="./images/hiero5-2.png"
      alt=""
    />

    <label class="email-label">
      <span class="email-form-wrapper">
        <input
          type="email"
          class="email-form__item"
          required
          name="user-email-send-list"
          placeholder="Enter email address"
        />
        <button class="email-form-button" type="submit">Get Started</button>
      </span>
    </label>
  </div>
</section>
