<section class="container section1">
  <div class="section-left-part">
    <img
      class="section1__image-sushi"
      src="./images/section1-sushi.png"
      alt="sushi"
    />
    <img
      class="section1__image-hiero1"
      src="./images/section1-hiero.png"
      alt="hieroglyphs"
    />
    <img
      class="section1__image-hiero2"
      src="./images/section1-hiero2.png"
      alt="hieroglyphs"
    />
  </div>

  <div class="section-right-part">
    <div class="section__top-part">
      <h1 class="section1__title">Feel the taste of Japanese foods</h1>
      <p class="section1__subtitle">
        Feel the taste of most populars Japanese foods from anywhere and
        anytime.
      </p>
      <div class="buttons-wrapper">
        <button type="button" class="button" data-modal-open>Order Now</button>
        <button type="button" class="how-to-button">
          <svg aria-label="search" class="button__play">
            <use href="./images/sprite.svg#icon-play_circle"></use>
          </svg>
          How to Order
        </button>
      </div>
    </div>
    <div class="section__bottom-part">
      <div class="section__bottom-left-side">
        <p class="bottom-left-side__num-of-customers">24K+</p>
        <ul class="bottom-left-side__customers">
          <li>Happy</li>
          <li>Customer</li>
        </ul>
      </div>
      <div class="section__bottom-right-side">
        <img
          class="bottom-right-side__photo"
          src="./images/Ellipse.png"
          alt=""
        />
        <p class="bottom-right-side__text">
          “This is the best Japanese food delivery service that ever exist”
        </p>
      </div>
    </div>
  </div>
</section>
