<footer class=" container footer">
  <div class="footer-section">
    <p class="footer-logo"><span class="footer-logo-span">sushi</span>man</p>
    <div class="">
      <ul class="navigation">
        <li class="navigation__item"><p class="navigation__link">Menu</p></li>
        <li class="navigation__item"><p class="navigation__link">foods</p></li>
        <li class="navigation__item">
          <p class="navigation__link">services</p>
        </li>
        <li class="navigation__item">
          <p class="navigation__link">about us</p>
        </li>
      </ul>
    </div>
    <ul class="footer-social-links__menu">
      <li>
        <svg aria-label="facebook" class="footer__social-links-item">
          <use class="footer__social-links-item" href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </li>
      <li>
        <svg aria-label="twitter" class="footer__social-links-item">
          <use href="./images/sprite.svg#icon-twitter"></use>
        </svg>
      </li>
      <li>
        <svg aria-label="instagram" class="footer__social-links-item">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>
