<section class="container section4">
  <div class="section4-cintainer">
    <div class="section4-subsection-wraper">
      <div class="subsection-light">
        <div class="subsection-title">
          <p class="subsection-subtitle">What’s Trending / トレンド</p>
          <h2 class="subsection-hero-title">Japanese Sushi</h2>
          <p class="subsection-name">
            Feel the taste of most delicious Sushi here.
          </p>
        </div>
        <div class="sushi-list">
          <ul class="sushi-list-menu">
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Maki Sushi
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Nigiri Sushi
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Oshizushi
            </li>
          </ul>
          <ul class="sushi-list-menu">
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Temaki Sushi
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Uramaki Sushi
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Inari Sushi
            </li>
          </ul>
        </div>
      </div>
      <div class="subsection-sushi">
        <img
          class="subsection-sushi__hiero__right"
          src="./images/hiero4-1.png"
          alt=""
        />
        <img class="" src="./images/sushi4-1.png" alt="" />
      </div>
    </div>
    <div class="section4-subsection-wraper">
      <div class="subsection-sushi">
        <img src="./images/sushi4-2.png" alt="" />
        <img
          class="subsection-sushi__hiero__left"
          src="./images/hiero4-2.png"
          alt=""
        />
      </div>
      <div class="subsection-light">
        <div class="subsection-title">
          <p class="subsection-subtitle">What’s Trending / トレンド</p>
          <h2 class="subsection-hero-title">Japanese Drinks</h2>
          <p class="subsection-name">
            Feel the taste of most delicious Japanese drinks here.
          </p>
        </div>
        <div class="sushi-list">
          <ul class="sushi-list-menu">
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Oruncha
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Ofukucha
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Sakura Tea
            </li>
          </ul>
          <ul class="sushi-list-menu">
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Kombu-cha
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Aojiru
            </li>
            <li class="sushi-list-menu__item">
              <svg aria-label="chek-mark" class="chek-mark">
                <use href="./images/sprite.svg#icon-chek-mark"></use>
              </svg>
              Mugicha
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section4__center__circle">
    <p class="section4__center__circle__text">discover</p>
  </div>
</section>
