<header class=" container header-container header">
  <div class="section">
    <nav class="menu">
      <a class="logo header__logo" href="">Sushiman</a>

      <ul class="navigation">
        <li class="navigation__item">
          <a href="" class="navigation__link">Menu</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Food</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Services</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <svg aria-label="search" class="menu__search">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</header>
