<section class="container section2-container">
  <div class="section2__left-part">
    <img
      class="section2__image-sushi"
      src="./images/sushi1-section2.png"
      alt="sushi"
    />
    <img
      class="section2__image-sushi section2__image-sushi2"
      src="./images/sushi2-section2.png"
      alt="sushi"
    />

    <img
      class="section2__image-hiero"
      src="./images/hiero1-section2.png"
      alt="sushi"
    />
    <img
      class="section2__image-hiero section2__image-hiero2"
      src="./images/hiero2-section2.png"
      alt="sushi"
    />

    <button type="button" class="button section2-button">
      <svg aria-label="arrow" class="button__arrow">
        <use href="./images/sprite.svg#icon-arrow-up-right"></use>
      </svg>
      Learn More
    </button>
  </div>
  <div class="section2__right-part">
    <p class="section2__about" lang="ja">About Us / 私たちに関しては</p>
    <h2 class="section2__title">
      Our mission is to bring true Japanese flavours to you.
    </h2>
    <p class="section2__subtitle">
      We will continue to provide the experience of Omotenashi, the Japanese
      mindset of hospitality, with our shopping and dining for our customers.
    </p>
  </div>
</section>
