<div class="second-modal-backdrop visually-hidden" data-modal2>
  <div class="modal">
    <button class="second-modal-close-button" type="button" data-modal-close2>
      &#128473
    </button>
    <div class="modal-wrapper">
      <p class="modal-window__title">EXPLORE FOODS</p>
     
      <div class="modal-window__card-wrapper">
       
        <div class="modal-window__card">
            <p class="modal-window__subtitle">Chezu Sushi</p>
            <img
            src="./images/chezu-sushi.png"
            alt="Chezu Sushi"
            class="modal-window__card-image"
          />
            
            <p>This is a real classic that contains a minimum of ingredients - just as it is established in Japanese cuisine. Inside the roll, which is covered with crispy, white sesame, you can find not only classic rice, but also several types of cheese - Philadelphia cream cheese, melted and a few pieces of feta cheese, which has a spicy, unique smell and taste.</p>
        </div>
        <div class="modal-window__card">
            <p class="modal-window__subtitle">Originale Sushi</p>
            <img
            src="./images/originale-sushi.png"
            alt="Originale Sushi"
            class="modal-window__card-image"
          />
            
            <p>A traditional Japanese dish made with rice treated with rice vinegar or salt and a variety of toppings or toppings, predominantly seafood, but may also include meat, vegetables, seaweed, mushrooms, or eggs. Sushi can be raw, cooked or marinated.</p>
        </div>
         <div class="modal-window__card">
             <p class="modal-window__subtitle">Ramen Legendo</p>
            <img
            src="./images/ramen-legendo.png"
            alt="Ramen Legendo"
            class="modal-window__card-image"
          />
           
            <p>A dish of Japanese cuisine with wheat noodles. It is very popular in Korea and Japan, especially among young people, because it is inexpensive, tasty and nutritious. In fact, ramen is fast food. It is a popular street food in Japan. Recently, it is considered a dish of Chinese and Korean cuisines.</p>
        </div>
      </div>
    </div>
  </div>
</div>