<section class="container section3">
  <div class="section3__container">
    <img src="./images/hiero3-top.png" alt="" class="thirt__hiero hiero__bot" />
    <img src="./images/hiero3-bot.png" alt="" class="thirt__hiero hiero__top" />
    <h2 class="section3__title" lang="ja">Popular Foods / 人気</h2>
    <div class="food-menu">
      <ul class="food-menu-list">
        <li class="">
          <button type="menu" class="food-menu__item">All</button>
        </li>
        <li class="">
          <button type="menu" class="food-menu__item">
            <img src="./images/sushi.png" alt="sushi" />Sushi
          </button>
        </li>
        <li class="">
          <button type="menu" class="food-menu__item">
            <img src="./images/ramen.png" alt="ramen" />Ramen
          </button>
        </li>
        <li class="">
          <button type="menu" class="food-menu__item">
            <img src="./images/udon.png" alt="udon" />Udon
          </button>
        </li>
        <li class="">
          <button type="menu" class="food-menu__item">
            <img src="./images/danggo.png" alt="danggo" />Danggo
          </button>
        </li>
        <li class="">
          <button type="menu" class="food-menu__item">Others</button>
        </li>
      </ul>
    </div>

    <div class="food-cards-menu">
      <button type="button" class="card-menu-button left__button">
        <svg aria-label="arrow left" class="card-menu-button__arrow">
          <use href="./images/sprite.svg#icon-cards-arrow-left"></use>
        </svg>
      </button>
      <ul class="food-cards">
        <li class="food-card__item">
          <img
            src="./images/chezu-sushi.png"
            alt="Chezu Sushi"
            class="cards__image"
          />
          <p class="cards__title">Chezu Sushi</p>
          <div class="cards__text">
            <p class="cards__rating">
              <svg aria-label="rating" class="rating">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
              4.7
            </p>
            <p class="cards__price">&#36;16.00</p>
          </div>
        </li>

        <li class="food-card__item food-card__item-active">
          <img
            src="./images/originale-sushi.png"
            alt="Originale Sushi"
            class="cards__image"
          />
          <p class="cards__title">Originale Sushi</p>
          <div class="cards__text">
            <p class="cards__rating">
              <svg aria-label="rating" class="rating">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
              4.8
            </p>
            <p class="cards__price">&#36; 21.00</p>
          </div>
        </li>
        <li class="food-card__item">
          <img
            src="./images/ramen-legendo.png"
            alt="Ramen Legendo"
            class="cards__image"
          />
          <p class="cards__title">Ramen Legendo</p>
          <div class="cards__text">
            <p class="cards__rating">
              <svg aria-label="rating" class="rating">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
              4.7
            </p>
            <p class="cards__price">&#36;16.00</p>
          </div>
        </li>
      </ul>
      <button type="button" class="card-menu-button right__button">
        <svg aria-label="arrow left" class="card-menu-button__arrow">
          <use href="./images/sprite.svg#icon-cards-arrow-right"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="food-menu-button button">
      <svg aria-label="arrow right" class="button-3__arrow">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
      Explore Foods
    </button>
  </div>
</section>
